<td>{{ entity.email }}</td>
<td>{% if entity.enabled %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</td>
<td>{% if entity.locked %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</td>
<td>{% if entity.lastLogin %}{{ entity.lastLogin|simple_time_formatter }}{% else %}{{ 'never'|trans }}{% endif %}</td>
